@{
    ViewData["Title"] = "Про нас";
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Home.css" media="screen">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.28.7, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
    <style>
        .btn-primary {
            background-color: #8bc34a;
            border-color: #8bc34a;
        }
    </style>
</head>
<body class="u-body">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7">
                <h2 class="site-section-heading font-weight-light text-black text-center">Наша команда</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                <img src="~/images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Володимир Петрук</h2>
                <p class="mb-4">Власник салону</p>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                <img src="~/images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Анна Резніченко</h2>
                <p class="mb-4">Директор салону</p>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                <img src="~/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Наталія Ходочок</h2>
                <p class="mb-4">Адміністратор салону</p>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <img src="~/images/person_1.jpg" alt="Image" class="img-md-fluid">
                </div>
                <div class="col-lg-6 bg-white p-md-5 align-self-center">
                    <h2 class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3">Важливо!</h2>
                    <p class="text-black lead"><em>&ldquo;Самостійно зробити манікюр, хорошу укладку і макіяж – займає багато людського й часового ресурсу. Виграють сьогодні ті, хто вирішили забігти в салон краси у Львові по дорозі на зустріч чи в офіс. Адже особливо в великих містах часу на ранкові чи навіть щоденні збори менше. Що вже казати про матусь, в яких кожна хвилина на вагу золота.&rdquo;</em></p>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-4 text-black">Ми хочемо, щоб Ви виглядали неймовірно</h2>
                    <p class="mb-0"><a asp-action="Appointment" class="btn btn-primary py-3 px-5 text-white">Відвідати салон зараз</a></p>
                </div>
            </div>
        </div>
    </div>


    
    
</body>
</html>