@{
    ViewData["Title"] = "Головна сторінка";
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.28.7, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <style>
        body {
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        .u-text-palette-1-base svg {
            fill: #8bc34a;
        }
        .text-primary {
            color: #8bc34a !important;
        }
        .bg-image:after {
            background: none;
        }
    </style>
</head>

<body class="u-body">

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 text-center">
                    <h3 class="line-height-1 mb-3"><span class="d-block display-4 line-height-1 text-black">Вітаємо у </span> <span class="d-block display-4 line-height-1"><em class="text-primary font-weight-bold">Rokoko</em></span></h3>
                    <br /><p>Команда професіоналів, зручна локація, привітний сервіс, портфель ефективних продуктів по догляду за нігтями, волоссям, обличчям та тілом. </p><p>Місце, де поважають час, бережуть нерви та знають свою роботу. Центральна локація, стильний простір, професійний сервіс.</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <figure class="h-100 hover-bg-enlarge">
                        <div class="bg-image h-100 bg-image-md-height" style="background-image: url('images/img_2.jpg');"></div>
                    </figure>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="border p-4 d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <h2 class="text-primary h2 mb-5">Ми відчинені для Вас</h2>
                            <p class="mb-4">
                                <span class="d-block font-weight-bold">Пн – Пт </span>
                                09:00 – 20:30
                            </p>

                            <p class="mb-4">
                                <span class="d-block font-weight-bold">Субота</span>
                                09:00 – 20:00
                            </p>

                            <p class="mb-4">
                                <span class="d-block font-weight-bold">Неділя</span>
                                10:00 - 18:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7">
                    <h2 class="site-section-heading font-weight-light text-black text-center">Наші переваги</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
                    <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                        <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                        <p class="text-black h4">Сучасне професійне обладнання, затишна атмосфера.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
                    <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                        <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
                        <p class="text-black h4">Професійні майстри, акіратність і висока якість роботи.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
                    <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                        <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                        <p class="text-black h4">Засоби по догляду від світових виробників і якісна стерилізація.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="u-clearfix u-section-5" id="carousel_dbe9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-expanded-width u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2  class="site-section-heading font-weight-light text-black text-center">Наші клієнти</h2>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-white u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-2">
                                <span class="u-icon u-icon-circle u-opacity u-opacity-60 u-text-palette-1-base u-icon-1">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f6fa"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-f6fa" x="0px" y="0px" viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;" xml:space="preserve" class="u-svg-content"><g><g><path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path></svg>
                                </span>
                                <p class="u-text u-text-2">
                                    Виявивши, що у мене була алергія на мій попередній колір волосся, і будучи тільки що вагітною, я була дуже рада знайти безпечну альтернативу! Я дуже вдячна, що більше не виходжу з салону з сверблячою та палаючою шкірою голови.
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-white u-layout-cell-2">
                            <div class="u-container-layout">
                                <span class="u-icon u-icon-circle u-opacity u-opacity-60 u-text-palette-1-base u-icon-2">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cc72"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-cc72" x="0px" y="0px" viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;" xml:space="preserve" class="u-svg-content"><g><g><path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path></svg>
                                </span>
                                <p class="u-text u-text-3">
                                    Раніше я працювала у індустрії волосся, тому ви можете здогадатися, що я дуже прискіплива до того, хто робить моє волосся. Але все було на вищому рівні. Дякую.&nbsp;
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-white u-layout-cell-3">
                            <div class="u-container-layout">
                                <span class="u-icon u-icon-circle u-opacity u-opacity-60 u-text-palette-1-base u-icon-3">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5018"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5018" x="0px" y="0px" viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;" xml:space="preserve" class="u-svg-content"><g><g><path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path></svg>
                                </span>
                                <p class="u-text u-text-4">
                                    Мені дуже подобаються органічні засоби по догляду за шкірою та волоссям. Я впевнена, що у вашому салоні всі засоби саме такі. Тому можна не хвилюватися за своє здоров'я, адже ніякі хімікати не потраплять в організм.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>