.u-section-2 .u-sheet-1 {
    min-height: 446px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: -140px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 302px;
}

.u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    width: 225px;
    margin: 25px auto 0;
}

.u-section-2 .u-line-1 {
    width: 54px;
    height: 3px;
    transform-origin: left center 0;
    transform: rotate(360deg);
    margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
    font-style: italic;
    width: 225px;
    margin: 20px auto 30px;
}

.u-section-2 .u-image-1 {
    min-height: 302px;
    background-image: url("Salon/Salon/wwwroot/images/5919fed0-9290-0161-07e7-b4aac8e308ea.jpg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 302px;
    background-image: none;
}

.u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-text-3 {
    font-weight: 700;
    width: 225px;
    margin: 25px auto 0;
}

.u-section-2 .u-line-2 {
    width: 54px;
    height: 3px;
    transform-origin: left center 0;
    transform: rotate(360deg);
    margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
    font-style: italic;
    width: 225px;
    margin: 20px auto 30px;
}

.u-section-2 .u-image-2 {
    min-height: 302px;
    background-image: url("~/images/beautifulspaasianwomantouchingherfaceperfectfreshskinpurebeautymodel_50889114.jpg");
    background-position: 19.64% 50%;
}

.u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-image-3 {
    min-height: 302px;
    background-image: url(images/setofcosmeticpaintbrushformakeup_12322061.jpg);
    background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-6 {
    min-height: 302px;
    background-image: none;
}

.u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-text-5 {
    font-weight: 700;
    width: 225px;
    margin: 25px auto 0;
}

.u-section-2 .u-line-3 {
    width: 54px;
    height: 3px;
    transform-origin: left center 0;
    transform: rotate(360deg);
    margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
    font-style: italic;
    width: 225px;
    margin: 20px auto 30px;
}

.u-section-2 .u-image-4 {
    min-height: 302px;
    background-image: url("~/images/closeupoffeetspatherapyandmassage_5387615402.jpg");
    background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-8 {
    min-height: 302px;
    background-image: none;
}

.u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-2 .u-text-7 {
    font-weight: 700;
    width: 225px;
    margin: 25px auto 0;
}

.u-section-2 .u-line-4 {
    width: 54px;
    height: 3px;
    transform-origin: left center 0;
    transform: rotate(360deg);
    margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
    font-style: italic;
    width: 225px;
    margin: 20px auto 30px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 464px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -93px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-text-1 {
        width: 185px;
        margin-top: 24px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-line-1 {
        width: 45px;
    }

    .u-section-2 .u-text-2 {
        width: 185px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .u-section-2 .u-image-1 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-text-3 {
        width: 186px;
        margin-top: 23px;
    }

    .u-section-2 .u-line-2 {
        width: 45px;
    }

    .u-section-2 .u-text-4 {
        width: 186px;
        margin-bottom: 23px;
    }

    .u-section-2 .u-image-2 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-image-3 {
        min-height: 279px;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-text-5 {
        width: 186px;
        margin-top: 23px;
    }

    .u-section-2 .u-line-3 {
        width: 45px;
    }

    .u-section-2 .u-text-6 {
        width: 186px;
        margin-bottom: 23px;
    }

    .u-section-2 .u-image-4 {
        min-height: 279px;
    }

    .u-section-2 .u-layout-cell-8 {
        min-height: 279px;
    }

    .u-section-2 .u-container-layout-8 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-2 .u-text-7 {
        width: 186px;
        margin-top: 23px;
    }

    .u-section-2 .u-line-4 {
        width: 45px;
    }

    .u-section-2 .u-text-8 {
        width: 186px;
        margin-bottom: 23px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1342px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -104px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 323px;
        order: 1;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-2 .u-text-1 {
        width: 322px;
        margin-top: 46px;
    }

    .u-section-2 .u-line-1 {
        width: 34px;
    }

    .u-section-2 .u-text-2 {
        width: 322px;
        margin-bottom: 25px;
    }

    .u-section-2 .u-image-1 {
        min-height: 361px;
        order: 0;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 345px;
        order: 2;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-text-3 {
        width: 142px;
        margin-top: 78px;
    }

    .u-section-2 .u-line-2 {
        width: 34px;
    }

    .u-section-2 .u-text-4 {
        width: 322px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 25px;
    }

    .u-section-2 .u-image-2 {
        min-height: 380px;
        order: 3;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-2 .u-image-3 {
        min-height: 387px;
        order: 1;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 352px;
        order: 0;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-text-5 {
        width: 320px;
        margin-top: 19px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .u-section-2 .u-line-3 {
        width: 34px;
    }

    .u-section-2 .u-text-6 {
        width: 318px;
        margin: 30px 21px 29px;
    }

    .u-section-2 .u-image-4 {
        min-height: 390px;
        order: 2;
    }

    .u-section-2 .u-layout-cell-8 {
        min-height: 390px;
        order: 3;
    }

    .u-section-2 .u-container-layout-8 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .u-section-2 .u-text-7 {
        width: 318px;
        margin-top: 60px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-section-2 .u-line-4 {
        width: 34px;
        margin-left: 133px;
    }

    .u-section-2 .u-text-8 {
        width: 320px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 34px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 2720px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -203px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 324px;
        order: 0;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-2 .u-text-1 {
        width: 512px;
        margin-top: 25px;
    }

    .u-section-2 .u-line-1 {
        width: 32px;
    }

    .u-section-2 .u-text-2 {
        font-style: normal;
        width: 512px;
    }

    .u-section-2 .u-image-1 {
        min-height: 326px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 384px;
        order: 0;
    }

    .u-section-2 .u-text-3 {
        width: 133px;
        margin-top: 35px;
    }

    .u-section-2 .u-line-2 {
        width: 32px;
    }

    .u-section-2 .u-text-4 {
        width: 488px;
        margin-left: 26px;
        margin-right: 26px;
        margin-bottom: 35px;
    }

    .u-section-2 .u-image-2 {
        min-height: 400px;
        order: 0;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-2 .u-image-3 {
        min-height: 362px;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 360px;
    }

    .u-section-2 .u-text-5 {
        margin-top: 35px;
        margin-left: 24px;
        margin-right: 24px;
        width: 492px;
    }

    .u-section-2 .u-line-3 {
        width: 32px;
    }

    .u-section-2 .u-text-6 {
        width: 491px;
        margin: 20px 25px 0;
    }

    .u-section-2 .u-image-4 {
        min-height: 387px;
        order: 3;
    }

    .u-section-2 .u-layout-cell-8 {
        min-height: 379px;
        order: 2;
    }

    .u-section-2 .u-container-layout-8 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-text-7 {
        margin-top: 35px;
        margin-left: 24px;
        margin-right: 24px;
        width: 491px;
    }

    .u-section-2 .u-line-4 {
        width: 32px;
        margin-left: auto;
    }

    .u-section-2 .u-text-8 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
        width: 499px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 2805px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -52px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 351px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-2 .u-text-1 {
        width: 322px;
    }

    .u-section-2 .u-line-1 {
        width: 27px;
    }

    .u-section-2 .u-text-2 {
        margin-bottom: 19px;
        width: 322px;
    }

    .u-section-2 .u-image-1 {
        min-height: 361px;
        order: 1;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 369px;
        order: 2;
    }

    .u-section-2 .u-text-3 {
        width: 112px;
    }

    .u-section-2 .u-line-2 {
        width: 27px;
    }

    .u-section-2 .u-text-4 {
        margin-left: 20px;
        margin-right: 20px;
        width: 301px;
    }

    .u-section-2 .u-image-2 {
        min-height: 359px;
        order: 3;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-2 .u-image-3 {
        min-height: 349px;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 367px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-right: 21px;
        padding-left: 21px;
    }

    .u-section-2 .u-text-5 {
        margin-left: 0;
        margin-right: 0;
        width: 299px;
    }

    .u-section-2 .u-line-3 {
        width: 27px;
    }

    .u-section-2 .u-text-6 {
        margin-left: -1px;
        margin-right: -1px;
        margin-bottom: 35px;
        width: 300px;
    }

    .u-section-2 .u-image-4 {
        min-height: 351px;
    }

    .u-section-2 .u-layout-cell-8 {
        min-height: 350px;
    }

    .u-section-2 .u-container-layout-8 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-text-7 {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 299px;
    }

    .u-section-2 .u-line-4 {
        width: 27px;
    }

    .u-section-2 .u-text-8 {
        margin-left: -1px;
        margin-right: -1px;
        margin-bottom: 35px;
        width: 301px;
    }
}

.
